# Ignore the virtual environment directory
env/

# Ignore other common Python-related files
*.pyc
__pycache__/
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
